<h1>Editing Bio</h1>
<%= form_for @bio, html: {multipart: true}, :url=> {:action => "update"} do |f|%>
   <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

    <%= f.label :image %><br />
  <%= f.file_field :image %>

  <div class="actions">
    <%= f.submit %>
  </div>


|
<%= link_to 'Back', bio_path %>
<% end %>